.hero{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
    background:#000;
}
.hero-content{
    position:absolute;
    bottom:60px;
    left:0;
    width:100%;
    z-index:20;
}

.hero-data{
    display:none;
}
#hero3{
    position:absolute;
    inset:0;
    z-index:1;
}

#hero3{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
}
#hero3 img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
background: #000;
    z-index: -1;
}

