/* ===========================
   ZEXVON INTRO PART 1
=========================== */

#zexvon-intro{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:#02060d;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
z-index:999999;
transition:opacity 1.2s ease;
}

#zexvon-intro.hide{
opacity:0;
pointer-events:none;
}

.intro-bg{
position:absolute;
width:100%;
height:100%;
background:
radial-gradient(circle at center,#0b1f45 0%,#03060d 70%);
overflow:hidden;
}

.star{
position:absolute;
width:2px;
height:2px;
background:white;
border-radius:50%;
opacity:.7;
animation:twinkle 3s infinite alternate;
}

@keyframes twinkle{
0%{opacity:.2;}
100%{opacity:1;}
}

.asteroid{
position:absolute;
background:#1d1d1d;
border-radius:50%;
box-shadow:0 0 20px rgba(80,150,255,.25);
animation:floatRock 20s linear infinite;
}

@keyframes floatRock{
0%{
transform:translateY(80px) rotate(0deg);
}
100%{
transform:translateY(-120vh) rotate(360deg);
}
}

.logo-wrap{
position:relative;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
animation:logoZoom 5s ease forwards;
}

@keyframes logoZoom{
0%{
transform:scale(.8);
opacity:0;
}
100%{
transform:scale(1.05);
opacity:1;
}
}

.logo-wrap img{
width:260px;
filter:drop-shadow(0 0 30px rgba(0,160,255,.45));
}
